.strook-slider {
	padding-top: 30px;
	.item {
		position: relative;
		.read-more {
			position: absolute;
			bottom: 30px;
			right: 30px;
		}
	}
	.bg-cover {
		padding-top: 57%;
	}
}

@include media-breakpoint-down(md) {
	.mod-slider {
		.item {
			h3, p {
				line-height: 24px;
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.mod-slider {
		.item {
			h3, p {
				line-height: 24px;
			}
		}
	}
}