.single-events {
	.menu-item-247,
	.menu-item-154 {
		a {
			color: $orange;
		}
	}
}

.single-blog {
	.menu-item-102,
	.menu-item-252 {
		a {
			color: $orange;
		}
	}
}

.single-paststories {
	.menu-item-158,
	.menu-item-260 {
		a {
			color: $orange;
		}
	}
}