<header class="header">
	<div class="container"> 
		<div class="row g-2">
			<div class="col d-flex align-items-center">
				<a class="header-brand" href="{{site.url}}" rel="home">
					<span class="d-none">{{ site.name }}</span>
				</a>
			</div>
			<div class="col-auto d-none d-md-flex align-items-center">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</div>
			<div class="col-auto d-lg-none">
				<a id="mobilemenubtn" class="btn-menu d-block immune js-menu d-md-none">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</header>