<section class="mod-content single-content content-image bg-greylight" data-scroll-section>
	<div class="container">
		{% if item.slider %}
			<div class="js-slick">
				{% for image in item.afbeeldingen %}
					<div class="item">
						<div class="image ratio-16x9 w-100 anime-reveal">
							<div class="bg-cover" style="background-image: url({{ Image(image) }})"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="row">
				{% for image in item.afbeeldingen %}
					{% if loop.first %}
						<div class="col-12">
							<div class="image ratio-16x9 w-100 mb-30 anime-reveal">
								<div class="bg-cover" style="background-image: url({{ Image(image) }})"></div>
							</div>
						</div>
					{% else %}
						<div class="col-md">
							<div class="image ratio-16x9 w-100 mb-30 anime-reveal">
								<div class="bg-cover" style="background-image: url({{ Image(image) }})"></div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
		{% endif %}
	</div>
</section>